### Análise de dados

In [2]:
#!pip install requirements.txt

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# string de conexão com o banco de dados ecommerce
#engine = create_engine('postgresql://postgres:postgres@localhost:5432/ecommerce')

In [4]:
# select amostra da tabela produtos
#produtos = pd.read_sql("SELECT * FROM produtos LIMIT 10;", engine); produtos.head()

In [5]:
# select amostra da tabela vendas
#vendas = pd.read_sql("SELECT * FROM vendas LIMIT 10;", engine); vendas.head()

In [7]:
deliveries = pd.read_csv('data/deliveries_table.csv')

In [8]:
deliveries

,ship-country,ship-service-level,total_sales,shipped_but_not_fulfilled,shipped_and_fulfilled,fulfilled_but_cancelled,cancelled_and_not_fulfilled
0,AU,Expedited,39384,NaN,25802,4.0,1338
1,AU,Standard,17916,NaN,25802,4.0,1338
2,BR,Expedited,78800,NaN,51388,332.0,2744
3,BR,Standard,36272,NaN,51388,332.0,2744
4,DK,Expedited,39264,NaN,25822,NaN,1332
5,DK,Standard,18036,NaN,25822,NaN,1332
6,FR,Expedited,39404,NaN,25818,NaN,1320
7,FR,Standard,17896,NaN,25818,NaN,1320
8,GE,Expedited,39672,NaN,25792,NaN,1320
9,GE,Standard,17616,NaN,25792,NaN,1320
10,JP,Expedited,39120,NaN,25802,NaN,1318
11,JP,Standard,18164,NaN,25802,NaN,1318
12,PT,Expedited,39708,NaN,25796,NaN,1324
13,PT,Standard,17584,NaN,25796,NaN,1324
14,UK,Expedited,39380,NaN,25794,NaN,1328
15,UK,Standard,17912,NaN,25794,NaN,1328
16,US,Expedited,39128,NaN,25806,8.0,1318
17,US,Standard,18180,NaN,25806,8.0,1318

In [9]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ship-country                 18 non-null     object
 1   ship-service-level           18 non-null     object
 2   total_sales                  18 non-null     int64
 3   shipped_but_not_fulfilled    0 non-null      float64
 4   shipped_and_fulfilled        18 non-null     int64
 5   fulfilled_but_cancelled      6 non-null      float64
 6   cancelled_and_not_fulfilled  18 non-null     int64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.1+ KB