### Notebook para criar algumas análises dos dados de um hipotético E-commerce

- Dataset extraído de: [data.word](https://data.world/jerrys/sql-12-applying-functions-in-sql)

In [ ]:
!pip install psycopg2-binary pandas matplotlib seaborn sqlalchemy

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [6]:
# string de conexão com o banco de dados ecommerce
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ecommerce')

In [9]:
# select amostra da tabela produtos
produtos = pd.read_sql("SELECT * FROM produtos LIMIT 10;", engine); produtos.head()

     Codigo                                       Produto    Preco
0  BS001873                         Apple Lightning Cable   $21.99
1  BS001874                     SanDisk Extreme microSDXC   $31.50
2  BS001875            Seagate 2TB Expansion Portable HDD   $79.00
3  BS001876  TicWatch Pro 3 Ultra GPS Smartwatch Qualcomm  $399.00
4  BS001877                    Webcam HD 1080p Web Camera   $59.00

In [16]:
# select amostra da tabela vendas
vendas = pd.read_sql("SELECT * FROM vendas LIMIT 10;", engine); vendas.head()

,Order ID,Date,ship-service-level,Style,Codigo,Courier Status,Qty,ship-country,Fulfillment
0,171-8536041-9190708,6/29/2022,Expedited,SET400,BS001879,Cancelled,4,AU,Yes
1,407-4176879-6571509,6/29/2022,Expedited,JNE3486,BS001890,Cancelled,2,BR,Yes
2,404-4382011-4681149,6/29/2022,Expedited,JNE3887,BS001873,Cancelled,2,BR,Yes
3,406-3412504-2471555,6/29/2022,Expedited,JNE3487,BS001888,Cancelled,2,BR,Yes
4,408-2481787-8248368,6/29/2022,Expedited,JNE3566,BS001898,Cancelled,2,BR,Yes